{% extends 'home.html' %}

{% block head %}

{% endblock %}

{% block body %}

    <form action = "{{ url_for('search') }}" method = "POST" id = "obtaindetails">

        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden'  %}
        <br>

        <div>
            {% if field.type == "SubmitField" %}
                {{field}}
            {% else %}

                {{ field.label }}*
                <br>
                {{ field }}
            {% endif %}
            
        </div>
        <br>
        
        {% endfor %}

    </form>

    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}

                {% for message in messages %}
                    {{message}}
                {% endfor %}
            
            {% endif %}
        
        {% endwith %}
    </div>

    <br>
    <br>
    
    {% if session['Last name'] %}

    <table style = "width:30%">
        <tr>
            <th colspan = "2">Your appointment</th>
        </tr>

        {% for key, value in session.items() %}
        
        <tr>
            <td>{{key}}</td>
            <td>{{value}}</td>
        </tr>

    {% endfor %}

    </table>
    <!--
    <table style="width:30%"}>

        <tr>
            <th colspan = "2">Your appointment</th>
        </tr>

        <tr>
            <td>First name</td>
            <td>{{session['firstName']}}</td>
        </tr>

        <tr>
            <td>Last name</td>
            <td>{{session['lastName']}}</td>
        </tr>

        <tr>
            <td>Appointment ID</td>
            <td>{{session['aptID']}}</td>
        </tr>

        <tr>
            <td>Doctor</td>
            <td>{{session['doctor']}}</td>
        </tr>

        <tr>
            <td>Email</td>
            <td>{{session['email']}}</td>
        </tr>
          
    </table>
-->

    <br>

    <div>
        
        <a href = "{{ url_for('update') }}">
            <button type="button">Edit</button>
        </a>
        
        &nbsp;&nbsp;

        <a href = "{{ url_for('delete') }}">
            <button type="button">Cancel</button>
        </a>
    </div>
    {% endif %}

{% if details %}
<table style="width:30%">
    <th colspan = "2">{{details['First name']}}'s appointment</th>

    {% for key, value in details.items() %}
        
        <tr>
            <td>{{key}}</td>
            <td>{{value}}</td>
        </tr>

    {% endfor %}

</table>

<br>

<div>
        
    <a href = "{{ url_for('update') }}">
        <button type="button">Edit</button>
    </a>
    
    &nbsp;&nbsp;

    <a href = "{{ url_for('delete') }}">
        <button type="button">Cancel</button>
    </a>
</div>

{% endif %}

{% endblock %}