{% extends 'home.html' %}

{% block head %}

{% endblock %}

{% block body %}

    <form action = "{{ url_for('search') }}" method = "POST" id = "obtaindetails">

        {{ form.hidden_tag() }}

        {% for field in form %}
        <br>

        <div>
            {% if field.type == "SubmitField" %}
                {{field}}
            {% else %}

                {{ field.label }}*
                <br>
                {{ field }}
            {% endif %}
            
        </div>
        <br>
        
        {% endfor %}
        <!--
        <br>
        <br>

        <div>
            <label for = "aptSearch">Your appointment ID: </label>
            <input type = "text" id = "searchID" name = "aptSearch" placeholder = "12345" maxlength="6" title = "Retrieve details from an appointment you made.">
        </div>
    
        <br>
        <br>

        <div>
            <button type="submit" form ="obtaindetails">Search</button>
        </div>
        -->

    </form>

    <br>
    <br>
    
    {% if session['lastName'] %}
    <table style="width:30%"}>

        <tr>
            <th colspan = "2">Your appointment</th>
        </tr>

        <tr>
            <td>First name</td>
            <td>{{session['firstName']}}</td>
        </tr>

        <tr>
            <td>Last name</td>
            <td>{{session['lastName']}}</td>
        </tr>

        <tr>
            <td>Appointment ID</td>
            <td>{{session['aptID']}}</td>
        </tr>

        <tr>
            <td>Doctor</td>
            <td>{{session['doctor']}}</td>
        </tr>

        <tr>
            <td>Email</td>
            <td>{{session['email']}}</td>
        </tr>
        
        
    </table>

    <br>
    <br>

    <div>
        
        <a href = "">
            <button type="button">Edit</button>
        </a>
        
        &nbsp;&nbsp;

        <a href = "{{ url_for('delete') }}">
            <button type="button">Cancel</button>
        </a>
    </div>
    {% endif %}


{% if info is defined %}

<table style="width:30%">
    <tr>
        <th colspan = "2">{{info.firstName}}'s appointment</th>
    </tr>
    <tr>
        <td>First name</td>
        <td>{{info.firstName}}</td>
    </tr>

    <tr>
        <td>Last name</td>
        <td>{{info.lastName}}</td>
    </tr>

    <tr>
        <td>Doctor</td>
        <td>{{info.doctor}}</td>
    </tr>

    <tr>
        <td>Appointment ID</td>
        <td>{{info.aptID}}</td>
    </tr>

    <tr>
        <td>Email</td>
        <td>{{info.email}}</td>
    </tr>

</table>


{% endif %}

{% endblock %}