{% extends 'home.html' %}

{% block head%}
<title>Update appointment</title>
{% endblock %}
 
{% block body %}
<!--{{ super() }}-->

<h1>Update your appointment</h1>

<form action = "{{ url_for('update') }}" method = "POST" id = "updateapt">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' and field.type != 'SelectField' %}
    <br>

    <div>
        {% if field.type == "SubmitField" %}
            {{field}}
        {% else %}

            {{ field.label }}*
            <br>
            {{ field }}
        {% endif %}
        
    </div>
    <br>
    
    {% endfor %}
</form>

{% endblock %}