{% extends 'home.html' %}

{% block head %}

{% endblock %}

{% block body %}

    {% for appointment in appointments %}

        <table style="width:30%">
            <tr>
                <th>
                    <b>
                        Appointment ID
                    </b>
                </th>

                <th>
                    <b>
                        First name
                    </b>
                </th>

                <th>
                    <b>
                        Last name
                    </b>
                </th>

                <th>
                    <b>
                        Doctor
                    </b>
                </th>

                <th>
                    <b>
                        Email
                    </b>
                </th>
            </tr>

            <tr>
                <td>
                    {{appointment.aptID}}
                </td>

                <td>
                    {{appointment.firstName}}
                </td>

                <td>
                    {{appointment.lastName}}
                </td>

                <td>
                    {{appointment.doctor}}
                </td>

                <td>
                    {{appointment.email}}
                </td>
            </tr>

        </table>

        <br>
        <br>

    {% endfor %}

{% endblock %}